:root {  
  --primary: #005f99; 
  --secondary: #00b4d8;
  --accent: #e8c978; 
  --accentclear: #f4e9cb; 
  --ocean: #0077b6;
  --seafoam: #90e0ef;
  --seafoamclear: #ccfafc;
  --sand: #fdf0d5;
  --palm: #2d6a4f;
  --white: #ffffff;
  --light: #f8f9fa;
  --gray-light: #dee2e6;
  --gray: #1b263b;
  --dark: #1b263b;
  --glass: rgba(255, 255, 255, 0.7);
  --shadow: 0 4px 12px rgba(0,0,0,0.2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--seafoamclear);
    color: var(--dark);
    line-height: 1.6;
    font-size: .8rem;
}

header {
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    padding: .7rem;
    border-bottom: 8px solid var(--seafoam);    
}

header h1 {
    font-size: 1.4rem;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    background-color: var(--white);
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--seafoam);
    padding-bottom: .5rem;
}

h3 {
    color: var(--palm);
    margin-top: 1rem;
    margin-bottom: .5rem;
}

p {
    margin-bottom: .8rem;
}

ul {
    padding-left: 1.5rem;
}

li {
    margin-bottom: .5rem;
}

strong {
    color: var(--primary);
}

.color-schema {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
}

.color-card {
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.color-sample {
    height: 80px;
}

.ocean-blue {
    background-color: #005f99;
}

.palm-green {
    background-color: #2d6a4f;
}

.sand-beige {
    background-color: #fdf0d5;
}

.seafoam-blue {
    background-color: #90e0ef;
}

.color-card p {
    padding: .8rem;
    background-color: white;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    max-width: 700px;
    margin: 1rem auto;
    border: 2px solid var(--gray-light, #ddd);
    border-radius: 8px;
}

footer {   
    text-align: center;
    padding: 0.5rem;

}

.mobile-wireframe,
.desktop-wireframe {
    margin-bottom: 2rem;
}

.wireframe-grid {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.wireframe-grid img {
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Mobile wireframes */
.mobile-wireframe img {
    max-width: 220px;
}

/* Desktop wireframes */
.desktop-wireframe img {
    max-width: 450px;
}

.logo-wireframe {
    text-align: center;
}

.logo-wireframe img {
    max-width: 250px;
    height: auto;
}



@media (max-width: 768px) {

    header h1 {
        font-size: 1.5rem;
    }

    section {
        padding: 1rem;
    }
}